<!-- Main Container -->
<div class="bg-gradient-to-br from-zinc-900 to-black leading-relaxed text-slate-400 antialiased selection:bg-teal-300 selection:text-teal-900">
  <div class="group/spotlight relative">
    <!-- Spotlight Effect -->
    <!-- <div class="pointer-events-none fixed inset-0 z-30 transition duration-300 lg:absolute"
         [style.background]="spotlightStyle()">
    </div> -->
  </div>

  <div class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0">
    <div class="lg:flex lg:justify-between lg:gap-4">
      <!-- Left Column (Header) -->
      <header class=" animate-fade-in-left lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24">
        <div>
           <h1 class="text-5xl font-bold tracking-tight text-indigo-100 sm:text-6xl">
            <a href="/" class="name-link">Adarsh Kumar</a>
          </h1>
          <h2 class="mt-3 text-sm tracking-tight text-slate-200 sm:text-xl job-title">
            Software Engineer | Full-Stack | Backend | Cloud 
          </h2>
          <!-- <p class="mt-4 max-w-xs leading-normal ">
            I build robust and scalable web applications.
          </p> -->

          <!-- Navigation -->
          <nav class="nav hidden lg:block" aria-label="In-page jump links">
            <ul class="mt-8 w-max">
              <li><a class="group flex items-center py-3" [class.active]="activeSection() === 'about'" href="#about" (click)="scrollTo('about', $event)">
                  <!-- <span class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200"
                        [class.active-indicator]="activeSection() === 'about'"></span> -->
                  <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">About</span>
              </a></li>
              <li><a class="group flex items-center py-3" [class.active]="activeSection() === 'experience'" href="#experience" (click)="scrollTo('experience', $event)">
                  <!-- <span class="nav-indicator mr-4 h-px w-8 bg-slate-600 transition-all group-hover:w-16 group-hover:bg-slate-200 group-focus-visible:w-16 group-focus-visible:bg-slate-200"
                        [class.active-indicator]="activeSection() === 'experience'"></span> -->
                  <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Experience</span>
              </a></li>
               <li><a class="group flex items-center py-3" [class.active]="activeSection() === 'skills'" href="#skills" (click)="scrollTo('skills', $event)">
                  <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Skills</span>
              </a></li>
              <li><a class="group flex items-center py-3" [class.active]="activeSection() === 'projects'" href="#projects" (click)="scrollTo('projects', $event)">
                  <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Projects</span>
              </a></li>
               <li><a class="group flex items-center py-3" [class.active]="activeSection() === 'education'" href="#education" (click)="scrollTo('education', $event)">
    
                  <span class="nav-text text-xs font-bold uppercase tracking-widest text-slate-500 group-hover:text-slate-200 group-focus-visible:text-slate-200">Education</span>
              </a></li>
            </ul>
          </nav>
        </div>
        <!-- Social Links -->
        <ul class="ml-1 mt-8 flex items-center" aria-label="Social media">
            <li class="mr-5 text-xs shrink-0"><a class="block hover:text-slate-200" href="https://github.com/adarsh0311" target="_blank" rel="noreferrer noopener" aria-label="GitHub (opens in a new tab)">
                <span class="sr-only">GitHub</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-6 w-6" aria-hidden="true">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                </svg></a></li>
            <li class="mr-5 text-xs shrink-0"><a class="block hover:text-slate-200" href="https://linkedin.com/in/adarsh-kumar03" target="_blank" rel="noreferrer noopener" aria-label="LinkedIn (opens in a new tab)">
                <span class="sr-only">LinkedIn</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6" aria-hidden="true">
                  <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.25 6.5 1.75 1.75 0 016.5 8.25zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93-.8 0-1.22.54-1.42 1.07-.08.2-.1.47-.1.74V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.28.93 3.28 4.3v5.8z"></path>
                </svg></a></li>
         </ul>
          <!-- Resume Button -->
             <div class="mt-2">
                <a class="inline-block" href="assets/Adarsh_Kumar_Resume.pdf" target="_blank" rel="noreferrer noopener" aria-label="View Résumé (opens in a new tab)">
                   <button class="inline-flex items-center justify-center rounded-lg text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background bg-amber-400/10 text-amber-300 hover:bg-amber-400/20 px-4 py-2">
                      Resume
                      <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="ml-2 h-4 w-4" aria-hidden="true">
                        <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd"></path>
                      </svg> -->
                   </button>
                </a>
             </div>
      </header>

      <!-- Right Column (Content) -->
      <main id="content" class="pt-24 lg:w-1/2 lg:py-24 animate-fade-in-right">
        <!-- About Section -->
        <section #sections id="about" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="About me">
          <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
            <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">About</h2>
          </div>
          <div>
            <p class="mb-4 font-medium">
              Software Engineer with over 3 years of experience in full-stack development, I've had the privilege of building robust and scalable solutions. My journey began with a deep dive into backend technologies, mastering Java with Spring Boot and C# with .NET to create powerful server-side logic and APIs.
            </p>
            <p class="mb-4 font-medium">
              On the frontend, I specialize in Angular, crafting intuitive and dynamic user interfaces that provide a seamless user experience. My expertise extends to database management with PostgreSQL, ensuring data integrity and performance. I'm passionate about the entire development lifecycle, from conception and design to deployment and maintenance.
            </p>
            <p class="mb-4 font-medium">
              Currently, I am expanding my skill set into cloud computing, particularly with AWS. I'm excited to leverage cloud services to build even more resilient, scalable, and efficient applications. I thrive in collaborative environments and am always eager to learn new technologies and take on challenging projects.
            </p>
          </div>
        </section>

        <!-- Experience Section -->
        <section #sections id="experience" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Work experience">
           <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
              <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Experience</h2>
           </div>
           <div>
              <ol class="group/list">
                @for(exp of experiences; track exp.company) {
                  <li class="mb-12">
                     <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
                        <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
                        <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-500 sm:col-span-2" [attr.aria-label]="exp.period">{{exp.period}}</header>
                        <div class="z-10 sm:col-span-6">
                           <h3 class="font-medium leading-snug text-slate-200">
                              <div>
                                 <a class="inline-flex items-baseline font-medium leading-tight text-indigo-100 hover:text-amber-400 focus-visible:text-amber-400 group/link text-base" [href]="exp.companyUrl" target="_blank" rel="noreferrer noopener" [attr.aria-label]="exp.role + ' at ' + exp.company + ' (opens in a new tab)'">
                                    <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                                    <span>{{exp.role}} - <span class="inline-block">{{exp.company}}
                                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true">
                                         <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
                                      </svg></span></span>
                                 </a>
                              </div>
                           </h3>
                           <div class="mt-2 text-sm leading-normal">
                            @for(item of exp.description; track item) {
                              <p class="mb-2 font-medium">{{item}}</p>
                            }
                           </div>
                        </div>
                     </div>
                  </li>
                }
              </ol>
           </div>
        </section>

         <!-- Skills Section -->
        <section #sections id="skills" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Skills">
            <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
              <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Skills</h2>
            </div>
            <div>
              @for(skill of skills; track skill.category) {
                <h3 class="text-base font-bold tracking-tight text-slate-200 mt-6 mb-4">{{skill.category}}</h3>
                <ul class="flex flex-wrap" [attr.aria-label]="'Technologies for ' + skill.category">
                    @for(tech of skill.technologies; track tech) {
                       <li class="mr-2 mt-2">
                          <div class="flex items-center rounded-full bg-blue-400/10 px-3 py-1 text-xs font-medium leading-5 text-blue-300 ">{{tech}}</div>
                       </li>
                    }
                </ul>
              }
            </div>
        </section>

        <!-- Projects Section -->
        <section #sections id="projects" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Selected projects">
           <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
              <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Projects</h2>
           </div>
           <div>
              <ul class="group/list">
                @for(project of projects; track project.title) {
                  <li class="mb-12">
                     <div class="group relative grid gap-4 pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
                        <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
                        <div class="z-10 sm:order-2 sm:col-span-6">
                           <h3>
                              <a class="inline-flex items-baseline font-medium leading-tight text-slate-200 hover:text-blue-300 focus-visible:text-blue-300  group/link text-base" href="{{project.liveUrl || project.sourceUrl}}" target="_blank" rel="noreferrer noopener" [attr.aria-label]="project.title + ' (opens in a new tab)'">
                                  <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                                  <span>{{project.title}}
                                     <span class="inline-block">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px" aria-hidden="true">
                                           <path fill-rule="evenodd" d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z" clip-rule="evenodd"></path>
                                        </svg>
                                     </span>
                                  </span>
                              </a>
                           </h3>
                           <p class="mt-2 text-sm leading-normal font-medium">{{project.description}}</p>
                           <ul class="mt-2 flex flex-wrap" aria-label="Technologies used:">
                              @for(tag of project.tags; track tag) {
                              <li class="mr-1.5 mt-2">
                                 <div class="flex items-center rounded-full bg-blue-400/10 px-3 py-1 text-xs font-medium leading-5 text-blue-300 ">{{tag}}</div>
                              </li>
                              }
                           </ul>
                            <!-- ✨ Gemini Project Description -->
                           <!-- <p class="mt-2 text-sm leading-normal">{{project.enhancedDescription || project.description}}</p>
                           <div class="mt-2">
                            <button (click)="enhanceProjectDescription(project)" 
                                    [disabled]="project.isEnhancing && project.isEnhancing()"
                                    class="inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background bg-indigo-400/10 text-indigo-300 hover:bg-indigo-400/20 px-3 py-1 text-xs">
                                 @if(project.isEnhancing && project.isEnhancing()) {
                                    <svg class="animate-spin -ml-1 mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                    </svg>
                                     Enhancing...
                                 } @else {
                                     <span>✨ Enhance Description</span>
                                 }
                            </button>
                           </div> -->
                        </div>

                        <!-- Project Image    -->
                        <!-- <img alt="{{project.title}} landing page" loading="lazy" width="200" height="48" class="rounded border-2 border-slate-200/10 transition group-hover:border-slate-200/30 sm:order-1 sm:col-span-2 sm:translate-y-1" style="color:transparent" [src]="project.imageUrl"> -->
                     </div>
                  </li>
                }
              </ul>
           </div>
        </section>
        
        <!-- Education Section -->
        <section #sections id="education" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Education">
           <div class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-slate-900/75 px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:sr-only lg:relative lg:top-auto lg:mx-auto lg:w-full lg:px-0 lg:py-0 lg:opacity-0">
              <h2 class="text-sm font-bold uppercase tracking-widest text-slate-200 lg:sr-only">Education</h2>
           </div>
           <div>
              <ol class="group/list">
                @for(edu of education; track edu.institution) {
                  <li class="mb-12">
                     <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
                        <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-slate-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg"></div>
                        <header class="z-10 mb-2 mt-1 text-xs font-semibold uppercase tracking-wide text-slate-400 sm:col-span-2" [attr.aria-label]="edu.period">{{edu.period}}</header>
                        <div class="z-10 sm:col-span-6">
                           <h3 class="font-medium leading-snug text-slate-200">
                              <a href="{{edu.link}}" target="_blank" rel="noopener noreferrer">
                              <div>
                                 <span class="inline-flex items-baseline font-medium leading-tight text-slate-200 text-base">
                                    {{edu.institution}}
                                  </span>
                              </div>
                              </a>
                               <div><div class="text-slate-400" aria-hidden="true">{{edu.degree}}</div></div>
                           </h3>
                        </div>
                     </div>
                  </li>
                }
              </ol>
           </div>
        </section>


        <!-- Footer -->
        <footer class="max-w-md pb-16 text-sm text-slate-500 sm:pb-0">
            <p>
              This portfolio is built with <a href="https://angular.dev/" class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank" rel="noreferrer noopener">Angular</a> and <a href="https://tailwindcss.com/" class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank" rel="noreferrer noopener">Tailwind CSS</a>,
              and deployed on <a href="https://www.netlify.com/" class="font-medium text-slate-400 hover:text-teal-300 focus-visible:text-teal-300" target="_blank" rel="noreferrer noopener">Netlify</a>.
            </p>
        </footer>
      </main>
    </div>
  </div>
</div>
